*{
    margin: 0;
    padding: 0;
}
html,body{
    min-height: 100vh;
    /* background: url('../img/hopital.png');
    background-position:center;
    background-size:cover;*/
} 
h1{
    font-size: 2rem;
    padding-bottom: 1%;
    text-align: center;
}
h2{
    font-size: 1.5rem;
    padding-bottom: 1%;
    text-align: center;
}
h2{
    font-size: 1.3rem;
    padding-bottom: 1%;
    text-align: center;
}
#bgSite{
    /* display: inline-block;
    width: 100%;
    height: 100%;
    position: fixed; */
}
#conteneur{
    /* backdrop-filter: blur(30px); */
}
#conteneurAccueil{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../img/illu3.png');
    background-position:center;
    background-size:cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.intro{
    margin: 0;
    padding: 1% 5%;
    text-align: center;
}
.intro.titre{
    margin-top: 110px;
}
.contCards{
    text-align: center;
}
.contCards .tailleCarte{
    width: 300px;
    display: inline-block;
    text-align: left;
}
.nav-item .activeP{
    text-shadow: 0 0 10px #000;
}
.card-body p{
    margin: 0;
}